@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/font/Inter_18pt-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* animation css */
@keyframes slide-in-from-right-to-left {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  .animate-slide-in-from-right-to-left {
    animation: slide-in-from-right-to-left .3s forwards;
  }

@keyframes slide-in-from-left-to-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animate-slide-in-from-left-to-right {
    animation: slide-in-from-left-to-right 1s ease-in-out;
}

@keyframes slide-background-in {
    from {
      transform: translateY(-100%);
      opacity: 1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-background-out {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  
  @keyframes slide-content-in {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slider-background {
    animation: slide-background-in 1s ease-out forwards;
  }
  
  .slider-background.slide-out {
    animation: slide-background-out 1s ease-in forwards;
  }
  
  .content-wrapper {
    opacity: 0;
    animation: slide-content-in 1s ease-out forwards;
    animation-delay: 1s; /* Delay the content slider animation to sync with background */
  }
  
  .content-wrapper.show {
    opacity: 1;
  }
  